<template>
  <div class="form-container">
    <form @submit.prevent="submitForm">
      <div
        v-for="(field, index) in fields"
        :key="field"
        :class="['field-wrapper', { 'label-left': labelPosition === 'left' }]"
      >
        <label :for="field" :class="labelClass" class="field-label">
          {{ fieldTitles[index] || field }}
        </label>
        <input
          :id="field" 
          :name="field"
          :placeholder="placeholders[index] || field"
          :disabled="disabled.includes(field)"
          v-model="formData[field]"
          class="field-input"
          required
        />
      </div>
      <button type="submit" class="submit-button">Register</button>
    </form>
  </div>
</template>

<script setup lang="ts">
import { ref, PropType, computed } from "vue";

/**
 * Define component props
 * @property {string[]} fields - Fields to be rendered in the form
 * @property {string[]} [fieldTitles] - Optional titles for the fields
 * @property {string[]} [placeholders] - Optional placeholders for the fields
 * @property {"top" | "left"} [labelPosition="top"] - Label position: top or left
 * @property {boolean} [hideLabels=false] - Hide labels if true
 * @property {string[]} [disabled] - List of disabled fields
 */
/* eslint-disable no-undef */
const props = defineProps({
/**
 * Array of fields to display
 */
  fields: {
    type: Array as PropType<string[]>,
    required: true,
  },
/**
 * Array of field titles, should be in the same order as the field array
 */
  fieldTitles: {
    type: Array as PropType<string[]>,
    default: () => [],
  },
/**
 * Array of placeholders, should be in the same order as the field array
 */
  placeholders: {
    type: Array as PropType<string[]>,
    default: () => [],
  },
/**
 * Takes two string 'top' or 'left' to decide the positioning of the labels
 */
  labelPosition: {
    type: String as PropType<"top" | "left">,
    default: "top",
  },
/**
 * Boolean to decide if labels should be hidden
 */
  hideLabels: {
    type: Boolean as PropType<boolean>,
    default: false,
  },
/**
 * Array of fields that should be disabled
 */
  disabled: {
    type: Array as PropType<string[]>,
    default: () => [],
  },
});

/**
 * Computed class for label styling
 * @returns {Object} labelClass
 */
const labelClass = computed(() => ({
  "label-left": props.labelPosition === "left",
  hidden: props.hideLabels,
}));

/**
 * Form data state
 */
const formData = ref<{ [key: string]: string }>(initializeFormData());

/**
 * Function to initialize form data with empty strings
 * @returns {Object} Initialized data
 */
function initializeFormData() {
  const data: { [key: string]: string } = {};
  for (const field of props.fields) {
    data[field] = "";
  }
  return data;
}

/**
 * Function to handle form submission
 */
const submitForm = () => {
  console.log("Form data:", formData.value);
};
</script>


<style scoped>
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.field-wrapper {
  margin-bottom: 20px;
  clear: both;
}

.field-wrapper.label-left {
  display: flex;
  align-items: center;
}

.field-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

.label-left .field-label {
  width: 100px; /* adjust this as needed */
  margin-right: 10px;
  margin-bottom: 0;
  float: none; /* override the float */
}

.label-left .field-input {
  flex-grow: 1;
}

.field-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.field-input:focus {
  border-color: #007bff;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0154ac;
}

.hidden {
  display: none;
}
</style>
